<%- include('partial/header') -%>
<div class="row" >
    <div class="col s12">
        <h1>Hackference Name Badge <%= ticket %></h1>
    </div>
</div>
<div class="row">
    <form class="col s3">
        <div class="file-field input-field">
            <div class="btn">
                <span>Image</span>
                <input type="file">
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
            </div>
        </div>
    </form>
    <img id="namebadge" data-cloudinary-path="<%= nameBadge %>" class="col s9" src="<%= nameBadge %>" />
</div>
<%- include('partial/footer') -%>